# See docs/Config_Reference.md for a description of parameters.
[respond]

[save_variables]
filename = ~/demon_vars.cfg

[include mainsail.cfg]
# Tool changer Specific
[include toolchanger/editable-configs/toolchanger-include.cfg]
[include toolchanger/tools/tool0.cfg]
[include toolchanger/tools/buffer0.cfg]
[include toolchanger/tools/knomi.cfg]

[include KAMP_Settings.cfg]
[include demon-poop-chute.cfg.cfg]
# Tool head led logo and nozzle lights
[include Neopixel_Control.cfg]
[include Heat_Soak_SB_LEDs.cfg]


# [include KlipperScreen_button_macros.cfg] #Custom Klipperscreen Menu macros
[include macros.cfg] #all my macros and calls to some of the demon configs
[include timelapse.cfg] #figure out later when cam is installed

[exclude_object]

[virtual_sdcard]
path: /home/goofballtech/printer_data/gcodes

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_27001A000751333232323930-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500  # Max speed that the printer can travel a 90 corner at, part of a math problem that changes speeds based on corner angles for > or < 90
max_accel: 12000
max_z_velocity: 50          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 600
square_corner_velocity: 5.0

[firmware_retraction]
retract_length: 0.8
retract_speed: 30
unretract_extra_length: 0.0
unretract_speed: 30

[bed_mesh]
speed: 500
horizontal_move_z: 5 # height for moves
mesh_min: 50,50 # Min corner for meshes of full bed
mesh_max: 300,300 # Max corner for full bed meshes
probe_count: 5, 5 
adaptive_margin: 10 # Adding space around the adaptive mesh

[gcode_macro homing_override_config]
variable_sensorless_x: True # Enable for sensorless homing on X axis
variable_sensorless_y: True # Enable for sensorless homing on Y axis
variable_homing_rebound_y: 20 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc5160"
variable_homing_current: 0.47

#####################################################################
#   X/Y Stepper Settings
#   Using LDO Motors 42STH48-2504AH NEMA 17 Stepper Motor - High Performance High Temperature for AWD
#   1.8 degree, 200 Steps per rev, 2.5 amp
#####################################################################

##  A Stepper - Back Left
##  Connected to HV STEPPER 2
##  Endstop connected to Y-ENDSTOP
[stepper_x]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PG2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
# endstop_pin: tool1:gpio13 # Pin for end stop on Nitehawk
# endstop_pin: PC1 # pin on the main board

position_min: 0
position_endstop: 350
position_max: 350

endstop_pin: tmc5160_stepper_x:virtual_endstop # sensorless homing
homing_speed: 30   #Max 100
homing_retract_dist: 0 # Used for microswitch second touch
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PB12
spi_bus: spi2
diag0_pin: ^!PG3
driver_sgt: 2 # -64 is most sensitive value, 63 is least sensitive
interpolate: false
run_current: 1.3
sense_resistor: 0.075
stealthchop_threshold: 0

#  B1 Stepper - Front Left
#  Connected to HV STEPPER 1
[stepper_x1]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc5160 stepper_x1]
cs_pin: PE11
spi_bus: spi4
# diag0_pin: ^!PE10
driver_sgt: 2 # -64 is most sensitive value, 63 is least sensitive
interpolate: false
run_current: 1.3
sense_resistor: 0.075
stealthchop_threshold: 0



##  B Stepper - Back Right
##  Connected to HV STEPPER 3
##  Endstop connected to X-ENDSTOP
[stepper_y]
step_pin: PG4
dir_pin: !PE8
enable_pin: !PB0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200 

endstop_pin: tmc5160_stepper_y:virtual_endstop # sensorless homing
# endstop_pin: PC2 # Pin on main MCU

position_min: 0
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 40  #Max 100
homing_retract_dist: 0 # Used for microswitch second touch
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PG5
spi_bus: spi2
diag0_pin: ^!PE7
driver_sgt: 2 # -64 is most sensitive value, 63 is least sensitive
interpolate: false
run_current: 1.3
sense_resistor: 0.075
stealthchop_threshold: 0

#  A1 Stepper - Front Right
#  Connected to HV STEPPER 0
[stepper_y1]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper

[tmc5160 stepper_y1]
cs_pin: PE15
spi_bus: spi4
# diag0_pin: ^!PG1
driver_sgt: 2 # -64 is most sensitive value, 63 is least sensitive
interpolate: false
run_current: 1.3
sense_resistor: 0.075
stealthchop_threshold: 0


#####################################################################
#   Buzzer
#####################################################################

[pwm_cycle_time _beeper]
## Passive Buzzer - varying cycle time varies the pitch
pin: PB1
shutdown_value: 0
value: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to STEPPER 0
##  Endstop connected to Z-ENDSTOP
[stepper_z]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:16  
microsteps: 32
# endstop_pin: PC1 # Endtop pin on main MCU
# position_endstop: 1 # not used with virtual pin
endstop_pin: probe:z_virtual_endstop

homing_retract_dist: 0
position_min: -10
position_max: 345

homing_speed: 20
second_homing_speed: 6

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to STEPPER 1
[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to STEPPER 2
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to STEPPER 3
[stepper_z3]
step_pin: PG7
dir_pin: PG6
enable_pin: !PC7
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z3]
uart_pin: PG8
#diag_pin: ^!PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder connector on main board
#####################################################################
# Extruder connects to the Nitehawk and is called out pere tool, these connectors on main board is unused at present

##  Connected to STEPPER 0
##  Heater - HEATER
##  Thermistor - TH1
# [extruder]
# step_pin: PD10
# dir_pin: PD9
# enable_pin: !PD13
# ##  Update value below when you perform extruder calibration
# ##  If you ask for 100mm of filament, but in reality it is 98mm:
# ##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
# ##  22.6789511 is a good starting point
# rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
# ##  Update Gear Ratio depending on your Extruder Type
# ##  Use 50:10 for Stealthburner/Clockwork 2
# ##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
# ##  Use 80:20 for M4, M3.1
# gear_ratio: 50:10               #BMG Gear Ratio
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# heater_pin: PG10
# ## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# ## Use "Generic 3950" for NTC 100k 3950 thermistors
# #sensor_type:
# sensor_pin: PA1 #TH0
# pullup_resistor: 2200
# min_temp: 10
# max_temp: 270
# max_power: 1.0
# min_extrude_temp: 170
# control = pid
# pid_kp = 26.213
# pid_ki = 1.304
# pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR6
##  Connected to STEPPER 4

# [tmc2209 extruder]
# uart_pin: PD11
# interpolate: false
# run_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HEATBED
##  Thermistor - TH0
heater_pin: PG11
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA1
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.8
min_temp: -20
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Chamber Sensor
#####################################################################
[temperature_sensor chamber_temp]
##  SSR Pin - Chamber
##  Thermistor - TH1
# heater_pin: PG11 #no heater connected yet
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA2
pullup_resistor: 2200
min_temp: -20
max_temp: 120
# max_power: 0.6
# control: pid
# pid_kp: 58.437
# pid_ki: 2.347
# pid_kd: 363.769

#####################################################################
#   Probe pin on main board, not used
#####################################################################

# [probe]
# #  Inductive Probe
# #  Connected to Z-PROBE
# #  This probe is not used for Z height, only Quad Gantry Leveling
# pin: ^PF1
# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

#####################################################################
#   Fan Control on MCU, not used
#####################################################################

# Fan and Heater_fan are being controlled by Nitehawk in toolheads
# [fan]
# ##  Print Cooling Fan - FAN0
# pin: PB7
# ##tachometer_pin: PB8
# kick_start_time: 0.5
# ##  Depending on your fan, you may need to increase this value
# ##  if your fan will not start. Can change cycle_time (increase)
# ##  if your fan is not able to slow down effectively
# off_below: 0.10

[heater_fan nevermore_fan]
pin: PB3                     # FAN1 PWM output on the Leviathan
#tachometer_pin: PB4         # Optional RPM feedback pin ifadded later
max_power: 1.0               # Allows full output when the fan is commanded on
kick_start_time: 0.5         # Brief startup boost to help the fan start reliably
heater: heater_bed           # Ties fan behavior to the bed heater object
heater_temp: 70           # Fan turns on when bed temperature is above 70C
fan_speed: 1.0               # Runs at full speed when active

[multi_pin _leviathan_mcu_fans]
pins: PF5, PF3                 # Drives both fan outputs from exp board (FAN4 + FAN5) together as one signal, tach pins are PF4 and Pf2, respectivly if needed. 

[temperature_fan leviathan_mcu_fans] # removed _ to unhide for ability to see and test fans
# [temperature_fan _leviathan_mcu_fans]
pin: multi_pin:_leviathan_mcu_fans   # Uses the combined multi_pin output for both fans
sensor_type: temperature_mcu        # Reads the Leviathan MCU’s internal temperature sensor
control: pid                        # Enables smooth fan speed ramping instead of on/off behavior
min_temp: 18                        # Lower bound of valid temperature readings (safety check)
max_temp: 120                       # Upper bound of valid temperature readings (safety cutoff)
target_temp: 45                     # Temperature the fan tries to maintain (in °C)

max_power: 0.8                      # Caps max PWM output to 80% of full fan power
shutdown_speed: 0.0                 # Forces fan OFF on shutdown (required for soft PWM)
max_speed: 1.0                      # Allows PID to request up to 100% (before max_power cap)
min_speed: 0                        # Minimum fan speed once active
kick_start_time: 1                # Briefly runs fan at 100% to ensure reliable startup

pid_Kp: 2.0                         # Proportional gain (how aggressively fan reacts to temp error)
pid_Ki: 0.5                         # Integral gain (corrects long-term temp drift)
pid_Kd: 2.0                         # Derivative gain (dampens rapid temp changes)
pid_deriv_time: 2.0                 # Smooths derivative response to reduce fan oscillation

#####################################################################
#   Thermistor plugs on Exp board
#####################################################################

# [temperature_sensor therm4]
# ##  Temperature Sensor - TH4
# ## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PC4
# min_temp: 0
# max_temp: 300
# pullup_resistor: 2200

# [temperature_sensor therm5]
# ##  Temperature Sensor - TH5
# ## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PC5
# min_temp: 0
# max_temp: 300
# pullup_resistor: 2200

#####################################################################
#   Filament sensor on main board, using nitehawk sensor instead
#####################################################################

#[filament_switch_sensor Filament]
#pause_on_runout: True
#runout_gcode: M600
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: !PC0

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting (Optional)
## Connected to LED-STRIP
#[output_pin caselight]
#pin: PE6
#pwm:true
#hardware_pwm: False
#value: 0.20 #startup value
#shutdown_value: 0
#value:1
#cycle_time: 0.0000164  

## Neopixel (Optional)
## Connected to NEOPIXEL for tophat and configrued in Neopixel_Control.cfg
# [neopixel rgb_light]
# pin: PF10
# chain_count: 3
# color_order: GRBW
# initial_RED: 0.0
# initial_GREEN: 0.0
# initial_BLUE: 0.0
# initial_WHITE: 0.0

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

# Sensorless homing is contained within the macros.cfg

#####################################################################
#                  Idle Timeout
#####################################################################
# Purpose:
# - When the printer sits idle:
#   - turn off all tool/nozzle heaters
#   - disable all buffer regulators and release buffer motors
#   - release printer steppers
#
# Notes:
# - timeout is in seconds.
# - 900 = 15 minutes.
#####################################################################

[idle_timeout]
timeout: 900

gcode:
    M118 Idle timeout reached - shutting down bed, tools, and buffers

    # Comment out portoins not wanted to be included in the timeout.

    # Turn off all toolchanger nozzle heaters.
    {% if printer.toolchanger is defined %}
        {% for tn in printer.toolchanger.tool_numbers %}
            M104 S0 T{tn}
        {% endfor %}
    {% else %}
        # Fallback for single-tool mode.
        M104 S0
    {% endif %}

    # Turn off the bed
    M140 S0

    # Disable all buffer regulators and release buffer motors.
    BUFFER_DISABLE_ALL_BUFFERS DISABLE_MOTOR=1

    # Release printer motors.
    M84

# [safe_z_home] # Disable because toolchanger has a custom version
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position: 234,350
# speed:100
# z_hop:10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

#--------------------------------------------------------------------

##  Gantry Corners for 350mm Build
gantry_corners:
  -48,7
  395,428
#  Probe points
points:
  50,50
  50,298
  298,298
  298,50
  
speed: 500
horizontal_move_z: 6
max_adjust: 6 # max delt allowed before it will complain instead of fixing it. 
retries: 5
retry_tolerance: 0.015

[rounded_path] # rounds out non printing g-code moves to reduce jerk
resolution: 0.2
replace_g0: False

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG9, EXP1_2=PG12,
    EXP1_3=PG13, EXP1_4=PG14,
    EXP1_5=PC13, EXP1_6=PC14,    # Slot in the socket on this side
    EXP1_7=PC15, EXP1_8=PF0,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PE2, EXP2_4=PE4,
    EXP2_5=PE3, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PE5, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PE4


[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.060000, -0.011250, 0.003750, -0.012500, -0.055000
#*# 	  -0.030000, -0.021250, -0.017500, 0.003750, 0.017500
#*# 	  -0.038750, 0.001250, -0.017500, -0.021250, 0.018750
#*# 	  -0.040000, -0.032500, -0.038750, -0.021250, -0.007500
#*# 	  -0.041250, -0.053750, -0.080000, -0.070000, -0.038750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 300.0
#*# min_y = 50.0
#*# max_y = 300.0
#*#
#*# [tool_probe_endstop]
#*# z_offset = -0.555
