#####################################################################
# KlipperScreen Custom Extrude Menu Variables
#####################################################################

[gcode_macro _KS_EXTRUDE_VARS]
description: Stores active KlipperScreen extrude distance and speed
variable_distance: 10.0       # Manual extrude/retract distance in mm
variable_speed: 5.0           # Manual extrude/retract speed in mm/s
variable_purge_distance: 25.0 # Purge button distance in mm
variable_purge_speed: 5.0     # Purge button speed in mm/s
gcode:
    M117 KS Extrude: {distance}mm @ {speed}mm/s


#####################################################################
# Set Active Toolhead Temperature
#####################################################################

[gcode_macro _KS_ACTIVE_TOOL_TEMP]
description: Set active toolhead extruder temperature
gcode:
    {% set target = params.TEMP|default(0)|float %}
    {% set active_extruder = printer.toolhead.extruder %}

    SET_HEATER_TEMPERATURE HEATER={active_extruder} TARGET={target}

    {% if target > 0 %}
        M117 {active_extruder} target {target}C
    {% else %}
        M117 {active_extruder} cooldown
    {% endif %}


#####################################################################
# Set Manual Extrude Distance
#####################################################################

[gcode_macro _KS_SET_EXTRUDE_DISTANCE]
description: Set KlipperScreen manual extrude/retract distance
gcode:
    {% set dist = params.DIST|default(10)|float %}

    SET_GCODE_VARIABLE MACRO=_KS_EXTRUDE_VARS VARIABLE=distance VALUE={dist}

    M117 Extrude distance {dist}mm


#####################################################################
# Set Manual Extrude Speed
#####################################################################

[gcode_macro _KS_SET_EXTRUDE_SPEED]
description: Set KlipperScreen manual extrude/retract speed
gcode:
    {% set speed = params.SPEED|default(5)|float %}

    SET_GCODE_VARIABLE MACRO=_KS_EXTRUDE_VARS VARIABLE=speed VALUE={speed}

    M117 Extrude speed {speed}mm/s


#####################################################################
# Active Toolhead Manual Extrude / Retract
#####################################################################

[gcode_macro _KS_ACTIVE_EXTRUDE]
description: Extrude or retract active toolhead using selected KlipperScreen distance and speed
gcode:
    {% set vars = printer["gcode_macro _KS_EXTRUDE_VARS"] %}
    {% set dir = params.DIR|default(1)|int %}
    {% set dist = params.DIST|default(vars.distance)|float %}
    {% set speed = params.SPEED|default(vars.speed)|float %}
    {% set active_extruder = printer.toolhead.extruder %}

    {% if printer[active_extruder].can_extrude|lower == 'true' %}
        SAVE_GCODE_STATE NAME=ks_active_extrude_state

        M83
        G92 E0
        G1 E{dist * dir} F{speed * 60}

        RESTORE_GCODE_STATE NAME=ks_active_extrude_state

        {% if dir > 0 %}
            M117 Extruded {dist}mm
        {% else %}
            M117 Retracted {dist}mm
        {% endif %}
    {% else %}
        M117 Active tool not hot enough
    {% endif %}


#####################################################################
# Purge Nozzle From KlipperScreen
#####################################################################

[gcode_macro KS_PURGE_NOZZLE]
description: Purge active toolhead using KlipperScreen purge settings
gcode:
    {% set vars = printer["gcode_macro _KS_EXTRUDE_VARS"] %}
    {% set dist = params.DIST|default(vars.purge_distance)|float %}
    {% set speed = params.SPEED|default(vars.purge_speed)|float %}

    _KS_ACTIVE_EXTRUDE DIR=1 DIST={dist} SPEED={speed}